# Build
/build/
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/

# Executables & Binaries
*.exe
KnightShift
KnightShift.exe

# Object Files
*.o
*.obj

# Debug & IDE
.vscode/
.idea/
*.pdb
*.log

# OS generated
.DS_Store
Thumbs.db
